.about_skills_style {
    padding: 0;
    margin: -48px;
    /* padding-right: 0; */
}

/* @media (min-width: 768px) {
    .about_skills_style {
        padding-left: 10vw;
        padding-right: 10vw;
    }
} */

@media (min-width: 992px){
    .about_skills_style {
        margin: 0;
        margin-left: -16px;
        margin-right: -48px;
    }
}
