.click_cards:hover{
    border-color: var(--secondary);
    /* Secondary in RGB to apply alpha */
    background-color: rgba(255, 48, 214, 0.3);
    color: var(--white);
}


.click_cards:hover .card-footer {
    border-color: var(--secondary) !important;
    color: var(--white);
}
