.bottom_text {
  position: relative;
  margin: 0 auto;
  text-align: center
}

.subtitle {
  font-family: filson-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.paragraph {
  font-family: objektiv-mk1, sans-serif;
  font-weight: 200;
  font-style: normal;
}

.top_text {
  position: absolute;
  top: 0;
  width: 100%
}

.font_text {
    font-family: acier-bat-strokes, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; */
}

.font_text_2 {
  font-family: acier-bat-gris, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* transition: font_show 1.5s ease-in-out infinite alternate; */
  /* -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; */
}

.font_text_2 {
-webkit-animation: font_show 2.0s ease-in-out infinite alternate;
-moz-animation: font_show 2.0s ease-in-out infinite alternate;
animation: font_show 2.0s ease-in-out infinite alternate;
}

@-webkit-keyframes font_show {
  from {
    color: rgba(98, 216, 249, 0.0)
  } to {
    color: rgba(98, 216, 249, 1.0)
  }
}

@-moz-keyframes font_show {
  from {
    color: rgba(98, 216, 249, 0.0)
  } to {
    color: rgba(98, 216, 249, 1.0)
  }
}

@keyframes font_show {
  from {
    color: rgba(98, 216, 249, 0.0)
  } to {
    color: rgba(98, 216, 249, 1.0)
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@-webkit-keyframes neon2 {
  from {
      text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #228DFF, 0 0 3px #228DFF, 0 0 3px #228DFF, 0 0 3px #228DFF, 0 0 3px #228DFF;
    }
    to {
      text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 10px #228DFF, 0 0 15px #228DFF, 0 0 20px #228DFF;
    }
}

@-moz-keyframes neon2 {
  from {
      text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #228DFF, 0 0 3px #228DFF, 0 0 3px #228DFF, 0 0 3px #228DFF, 0 0 3px #228DFF;
    }
    to {
      text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 10px #228DFF, 0 0 15px #228DFF, 0 0 20px #228DFF;
    }
}


@keyframes neon2 {
  from {
      text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 3px #228DFF, 0 0 3px #228DFF, 0 0 3px #228DFF, 0 0 3px #228DFF, 0 0 3px #228DFF;
    }
    to {
      text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 10px #228DFF, 0 0 15px #228DFF, 0 0 20px #228DFF;
    }
}
