.proper_img_size {
    width: 75%;
    margin-top: 40px;
}

.proper_img_size_2 {
    width: 74%;
    margin-top: 40px;
}

.project_page {
    padding-left: 20px;
    padding-right: 20px;
}

.title_style {
    color: var(--bs-primary);
    font-size: 50px;
}

@media (min-width: 576px) {
    .project_page {
        padding-left: 70px;
        padding-right: 70px;
    }

    .title_size {
        font-size: 70px;
    }
}


@media (min-width: 992px){
    .proper_img_size {
        width: 100%;
        margin-top: 0px;
    }

    .proper_img_size_2 {
        width: 99%;
        margin-top: 0px;
    }
}
