/* stylesheet.scss */

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Brand Colors
$indigo: #070e20;
$pink: #ff30d6;
$orange: #ff6e27;
$cyan: #60d7f9;

// Gray Scale
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900,
);

$theme-colors: (
  primary: $cyan,
  secondary: $pink,
  success: $green,
  info: $cyan,
  warning: $orange,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
);

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800,
);

$theme-color-interval: 8%;

// Body
$body-bg: $indigo;
$body-color: $white;

// Carousel
$carousel-indicator-active-bg: $cyan;

// Cards
$card-border-color: map-get($theme-colors, 'primary');
$card-bg: rgba(map-get($theme-colors, 'primary'), 0.3);
$card-border-radius: 15px;
$card-border-width: 1.5px;

// Forms
$input-bg: rgba(map-get($theme-colors, 'primary'), 0.3);
$input-border-color: map-get($theme-colors, 'primary');
$input-focus-bg: $input-bg;
$input-placeholder-color: $white;
$input-color: $pink;

// Link
$link-color: $white;
$link-decoration: none;
$link-hover-color: $white;
$link-hover-decoration: none;

// Navbar
$navbar-light-hover-color: map-get($theme-colors, 'secondary');
$navbar-light-active-color: $white;
$navbar-light-color: $white;
$navbar-light-brand-color: $white;
$navbar-toggler-padding-y: 0.25rem;
$navbar-toggler-padding-x: 0.75rem;
$navbar-toggler-font-size: $font-size-lg;

//Table
$table-color: $white;
$table-cell-padding: 0.75rem;
$table-cell-padding-sm: 0.3rem;
$table-bg: transparent;
$table-accent-bg: rgba(map-get($theme-colors, 'primary'), 0.3);
$table-hover-bg: rgba($white, 0.075);
$table-active-bg: $table-hover-bg;
$table-border-width: $border-width;
$table-border-color: map-get($theme-colors, 'primary');
$table-head-bg: rgba(map-get($theme-colors, 'primary'), 0.3);
$table-head-color: $white;
$table-striped-color: $white;

//Tabs
$nav-tabs-border-color: map-get($theme-colors, 'primary');
$nav-tabs-border-width: $border-width;
$nav-tabs-border-radius: $border-radius;
$nav-tabs-link-hover-border-color: map-get($theme-colors, 'secondary');
$nav-tabs-link-hover-bg: rgba(map-get($theme-colors, 'secondary'), 0.3);
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-bg: rgba(map-get($theme-colors, 'primary'), 0.3);
$nav-tabs-link-active-border-color: map-get($theme-colors, 'primary');
$nav-link-hover-color: map-get($theme-colors, 'secondary');

//Figure
$figure-caption-font-size: 90%;
$figure-caption-color: $white;

//List Group
$list-group-color: $white;
$list-group-bg: rgba(map-get($theme-colors, 'primary'), 0.3);
$list-group-border-color: map-get($theme-colors, 'primary');
$list-group-border-width: $border-width;
$list-group-border-radius: $border-radius;
$list-group-item-padding-y: 0.75rem;
$list-group-item-padding-x: 1.25rem;

//Alert
$alert-padding-y: 0.75rem;
$alert-padding-x: 1.25rem;
$alert-margin-bottom: 1rem;
$alert-border-radius: $border-radius;
$alert-link-font-weight: $font-weight-bold;
$alert-border-width: $border-width;

//Accordion
$accordion-padding-y: 1rem;
$accordion-padding-x: 1.25rem;
$accordion-color: $white;
$accordion-bg: rgba(map-get($theme-colors, 'primary'), 0.3);
$accordion-border-width: $border-width;
$accordion-border-radius: '20px';
$accordion-border-color: map-get($theme-colors, 'primary');
$accordion-inner-border-radius: subtract($accordion-border-radius, $accordion-border-width);
$accordion-button-focus-border-color: $white;
$accordion-button-active-bg: rgba(map-get($theme-colors, 'secondary'), 0.3);
$accordion-button-active-color: $white;
$accordion-button-color: $white;

$accordion-icon-color: map-get($theme-colors, 'primary');
$accordion-icon-active-color: map-get($theme-colors, 'secondary');
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

$modal-lg: 900px;

$close-color: $white;

$modal-content-bg: rgba(map-get($theme-colors, 'primary'), 0.3);
$modal-title-line-color: map-get($theme-colors, 'primary');
$modal-content-border-color: map-get($theme-colors, 'primary');
$modal-backdrop-opacity: 0.85;
$modal-header-border-color: map-get($theme-colors, 'primary');

@import 'bootstrap';
